<include file ="Index:header"/>
<include file ="Index:navibar"/>
<include file ="Index:sidebar"/>
<!-- TPLSTART 以上内容不需更改，保证该TPL页内的标签匹配即可 -->

<div class="block">
    <a href="#page-stats" class="block-heading" data-toggle="collapse">流量统计</a>
    <div id="page-stats" class="block-body collapse in">
        <table class="table table-striped" align="center">
            <thead>
            <tr>
                <th>下单量</th>
                <th>实际消耗量</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
                <if condition="$flowCount.amount == '' ">
                    <td>0</td>
                <else/>
                    <td>{$flowCount.amount}</td>
                </if>
                <td>{$amount}</td>
                <td>{$time}</td>
            </tbody>
        <table/>
    </div>
</div>
<!-- TPLEND 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file="Index:footer"/>