<include file ="Index:header"/>
<include file ="Index:navibar"/>
<include file ="Index:sidebar"/>
<!-- TPLSTART 以上内容不需更改，保证该TPL页内的标签匹配即可 -->

<div class="btn-toolbar" style="margin-bottom:2px;">
    <a href="{:U('labelAdd')}" class="btn btn-primary"><i class="icon-plus"></i> 添加任务</a>
</div>

<div class="block">
    <a href="#page-stats" class="block-heading" data-toggle="collapse">标签管理</a>
    <div id="page-stats" class="block-body collapse in">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>标签名称</th>
                <th>创建时间</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            <foreach name="labels" item="label">

                <tr>

                    <td>{$label.id}</td>

                    <td>{$label.label_name}</td>

                    <td>{$label.label_time|date="Y-m-d H:i:s",###}</td>

                    <td>
                        <a href="{:U('labelModify',array('id'=>$label['id']))}" title= "编辑" ><i class="icon-pencil"></i></a>
                        &nbsp;
                        <a data-toggle="modal" href="{:U('label',array('id'=>$label['id'],'method'=>del))}" title= "删除" ><i class="icon-remove"></i></a>

                    </td>

                </tr>
                </foreach>
            </tbody>
        </table>
        <!--- START 分页模板 -->
                <div style="margin-bottom: 20px">
        <table id="page-table-fenye" cellspacing="0" >
            <tr>
                <td align="center" nowrap="true">
                    {$page}
                </td>
            </tr>
        </table>
        </div>
        <!--- END -->
        每页25项
    </div>
</div>
<!-- TPLEND 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file="Index:footer"/>