<include file ="Index:header"/>
<include file ="Index:navibar"/>
<include file ="Index:sidebar"/>

<!-- START 以上内容不需更改，保证该TPL页内的标签匹配即可 -->

{$osadmin_action_alert}
{$osadmin_quick_note}
    
<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">请填写功能资料</a></li>
    </ul>	
	
	<div id="myTabContent" class="tab-content">
		  <div class="tab-pane active in" id="home">

           <form id="tab" method="post" action="">
				<label>名称</label>
				<input type="text" name="menu_name" value="{$menu.menu_name}" class="input-xlarge" required="true">
				<label>链接 <span class="label label-important">不可重复</span></label>
				<input type="text" name="menu_url" value="{$menu.menu_url}" class="input-xlarge" required="true" >
				
				<label>所属模块</label>
				<if condition="$menu['menu_id'] gt 100 ">
				<select name="module_id">
					<foreach name='module_options_list' item='module_option' key="module_id">
						<if condition="$menu.module_id eq $module_id">
						<option value="{$module_id}" selected>{$module_option}</option>
						<else/>
						<option value="{$module_id}">{$module_option}</option>
						</if>
					</foreach>
				</select>
				<!-- <{html_options name=module_id id="DropDownTimezone" class="input-xlarge" options=$module_options_list selected=$menu.module_id}> -->
				<else />
				<select name="module_id" disabled>
					<foreach name='module_options_list' item='module_option' key="module_id">
						<if condition="$menu.module_id eq $module_id">
						<option value="{$module_id}" selected>{$module_option}</option>
						<else/>
						<option value="{$module_id}">{$module_option}</option>
						</if>
					</foreach>
				</select>
				<!-- <{html_options name=module_id id="DropDownTimezone" class="input-xlarge" options=$module_options_list disabled="true" selected=$menu.module_id}> -->
				</if>
				<label>是否显示为左侧菜单</label>
				<select name="is_show" class="input-xlarge" >
					<if condition="$menu.is_show eq 1">
					<option value="1" selected >是</option>
					<else/>
					<option value="1">是</option>
					</if>
					<if condition="$menu.is_show eq 0">
					<option value="0" selected>否</option>
					<else/>
					<option value="0">否</option>
					</if>
				</select>
				<!-- <{html_options name=is_show id="DropDownTimezone" class="input-xlarge" options=$show_options_list selected=$menu.is_show}> -->
				<label>所属菜单</label>
				<select name="father_menu">
					<option value="0">无</option>
					<foreach name='father_menu_options_list' item="father_menu_option" key="father_menu">
						<if condition="$menu.menu_id eq menu_id">
						<option value="{$father_menu}">{$father_menu}</option>
						<else/>
						<option value="{$father_menu}">{$father_menu}</option>
						</if>
						<foreach name='father_menu_option' item="menu" key="father_menu">
							<if condition="$menu.menu_id eq menu_id">
							<option value="{$father_menu}">&nbsp;&nbsp;&nbsp;{$menu}</option>
							<else/>
							<option value="{$father_menu}">&nbsp;&nbsp;&nbsp;{$menu}</option>
							</if>
						</foreach>
					</foreach>
				</select>
			<!-- 	<{html_options name=father_menu id="DropDownTimezone" class="input-xlarge" options=$father_menu_options_list selected=$menu.father_menu}> -->
				<label>是否有效</label>
				<select>
					<foreach name='online_options_list' item="online_option" key="online">
						<option value="$online">{$online_option}</option>
					</foreach>
				</select>
			<!-- 	<{html_options name=online id="DropDownTimezone" class="input-xlarge" options=$online_options_list selected=$menu.online}>	 -->		 
				<label>是否允许快捷菜单 <span class="label label-important">修改/ 删除类链接不允许</span></label>
				<select>
					<foreach name='shortcut_allowed_options_list' item="shortcut_allowed_option" key="shortcut_allowed">
						<option value="$shortcut_allowed">{$shortcut_allowed_option}</option>
					</foreach>
				</select>
			<!-- 	<{html_options name=shortcut_allowed id="DropDownTimezone" class="input-xlarge" options=$shortcut_allowed_options_list selected=$menu.shortcut_allowed}> -->
				<label>描述</label>
				<textarea name="menu_desc" rows="3" class="input-xlarge">{$menu.menu_desc}</textarea>
				<div class="btn-toolbar">
					<button type="submit" class="btn btn-primary"><strong>提交</strong></button>
				</div>
			</form>
        </div>
    </div>
</div>
<!-- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file ="Index:footer"/>