<include file ="Index:header"/>
<include file ="Index:navibar"/>
<include file ="Index:sidebar"/>
<!-- TPLSTART 以上内容不需更改，保证该TPL页内的标签匹配即可 -->

<div style="border:0px;padding-bottom:5px;height:auto">
	<form action="" method="GET" style="margin-bottom:0px">
	<div style="float:left;margin-right:5px">
		<label> 选择起始时间 </label>
		<input type="text" id="start_date" name="start_date" value="{$_GET.start_date}" placeholder="起始时间" >
	</div>
	<div style="float:left;margin-right:5px">
		<label>选择结束时间</label>	
		<input type="text" id="end_date" name="end_date" value="{$_GET.end_date}" placeholder="结束时间" > 
	</div>
	<div style="float:left;margin-right:5px">
		<label>广告应用:</label>
		<!--<{html_options name="app_id" id="DropDownApps"  options=$apps selected=$_GET.app_id}> -->
        <input type="text" name="app_name" value="{$_GET.app_name}" placeholder="输入应用名称" >

    </div>

    <div style="float:left;margin-right:5px">
		<label>广告商:</label>
		<select name="provider_id">
			<foreach name='providerArr' item='provider' key="provider_id">
				<if condition="$_GET.provider_id eq $provider_id">
				<option value="{$provider_id}" selected>{$provider}</option>
				<else/>
				<option value="{$provider_id}">{$provider}</option>
				</if>
			</foreach>
		</select>
	</div>

	<div style="float:left;margin-right:5px">
		<label>渠道商:</label>
		<select name="chan_id">
		<foreach name='channels' item='channel' key="chan_id">
				<if condition="$_GET.chan_id eq $chan_id">
				<option value="{$chan_id}" selected>{$channel}</option>
				<else/>
				<option value="{$chan_id}">{$channel}</option>
				</if>
		</foreach>
		</select>
	</div>
    <div style="float:left;margin-right:5px">
        <label>查询IDFA</label>
        <input type="text" style="width: 350px;" name="idfa" value="{$_GET.idfa}" placeholder="输入IDFA" >
    </div>
    <div style="float:left;margin-right:5px">
		<label>关键词:</label>
		<input type="text" style="width: 350px;" name="kid" value="{$_GET.kid}" placeholder="输入关键词" >
	</div>
	<div class="btn-toolbar" style="padding-top:25px;padding-bottom:0px;margin-bottom:0px">
		<button type="submit" class="btn btn-primary"><strong>检索</strong></button>
	</div>
	<div style="clear:both;"></div>
	</form>
</div>

<div class="block">
	<a href="#page-stats" class="block-heading" data-toggle="collapse">渠道商回调日志</a>
	<div id="page-stats" class="block-body collapse in">
	<table class="table table-striped">
			<thead>
			<tr>
				<th>广告主</th>
				<th>广告应用</th>
				<th>渠道商</th>
				<th>MAC</th>
				<th>IDFA</th>
				<th>KID</th>
				<th>回调地址</th>
				<th>回调时间</th>
				<th>IP地址</th>
				<th>广告主返回值</th>
				<th>给渠道返回值</th>
			</tr>
			</thead>
			<tbody>
			<foreach name='clogs' item='clog'>							  
				<tr>
				 
				<td>{$providers[$clog['provider_id']]}</td>
				
				<td>{$apps[$clog['app_id']]}</td>
				 
				<td>{$channels[$clog['chan_id']]}</td>
				
				
				<td>{$clog.mac}</td>
				 
				<td>{$clog.idfa}</td>

				<td>{$clog.kid}</td>

				<td>{$clog.callback}</td>
				
				<td>{$clog.time}</td>
				 
				<td>{$clog.ip}</td>
			
			    <td>{$clog.result}</td>

			    <td>{$clog.own_result}</td>
				</tr>
			</foreach>
		  </tbody>
		</table>	
		<!--- START 分页模板 --->
               {$page_html}
			   <!--- END --->	
			    每页25项
</div>
</div>
<script>
	$(function() {
		var date=$( "#start_date" );
		date.datetimepicker({ showSecond:true,timeFormat: "HH:mm:ss"});
	});
	$(function() {
		var date=$( "#end_date" );
		date.datetimepicker({ showSecond:true, timeFormat: "HH:mm:ss"});
	});
</script>
<!-- TPLEND 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file ="Index:footer"/>