<include file ="Index:header"/>
<include file ="Index:navibar"/>
<include file ="Index:sidebar"/>
<!-- START 以上内容不需更改，保证该TPL页内的标签匹配即可 -->

{$osadmin_action_alert}
{$osadmin_quick_note}
    
<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">请填写排重配置信息</a></li>
    </ul>	
	
	<div id="myTabContent" class="tab-content">
		  <div class="tab-pane active in" id="home">
	
           <form id="tab" method="post" action="">
				<label>配置信息名称</label>
				<input type="text" name="config_name" value="{$_POST.config_name}" class="input-xlarge" required="true" autofocus="true" >
				，

           		 <select name="app_id" required="true">
                      <foreach name='apps' item='app' key="app_id">
						  <if condition="$app_id eq 0" >
							  <option value="">请选择广告名称</option>
							  <else/>
							  <option value="{$app_id}">{$app}</option>
						  </if>
                      </foreach>
                </select>
				<label>配置请求方式</label>

				<select name="request" id="" class="input-xlarge" required="true" autofocus="true">
					<option value="get"> get </option>
					<option value="post"> post </option>
					<option value="newpost">newpost</option>
				</select>
				<label>配置url</label>
				<textarea name="repeat_url" rows="3" class="input-xlarge">{$_POST.repeat_url|htmlspecialchars}</textarea>
				<label>配置返回结果</label>
				<textarea name="config_if" rows="3" class="input-xlarge">{$_POST.config_if}</textarea>

				<div class="btn-toolbar">
					<button type="submit" class="btn btn-primary"><strong>提交</strong></button>
				</div>
			</form>
        </div>
    </div>
</div>
{$osadmin_action_confirm}
<script type="text/javascript">

	alertDismiss("alert-success",3);
	alertDismiss("alert-info",10);

	listenShortCut("icon-plus");
	listenShortCut("icon-minus");
	doSidebar();
</script>
<!-- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file="Index:footer"/>