<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        

        <title>收徒攻略</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="msapplication-tap-highlight" content="no">

    <script src="__PUBLIC__/mobile/js/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="__PUBLIC__/mobile/css/style.css" type="text/css">
    
    </head>

    <body>

            <!--    <{include file="./tishikuang.tpl"}>-->

			
				<div class="devBox">
					<!--<a href="{:U('Invite/invite',array('member_id'=>I('get.member_id')))}"><img src="__PUBLIC__/mobile/images/a2.png" alt class="fl"></a>-->
                    <a href="javascript:history.go(-1);"><img src="__PUBLIC__/mobile/images/a2.png" alt class="fl"></a>
						<h1 class="biaoti">收徒攻略</h1>

				</div>

                <div>
                    <div class="about">
                        微信朋友圈、QQ空间
                    </div>
                    <div class="hang1" style="margin:0;">
                        分享零花钱邀请链接到微信朋友圈或QQ空间，喜欢发表文章的朋友可以发表文章也可以评论文章哦。</div>
                </div>

                <div>
                    <div class="about">
                        百度、新浪、知乎等问答社区
                    </div>
                    <div class="hang1" style="margin:0;">
                        <p>你可以回答关于赚钱、游戏币、游戏升级、生活类等等相关问题，先热心回答他们的问题，然后
                        在向他们介绍零花钱，讲解如何赚取现金，记得带上邀请链接或ID哦。</p>
                    </div>
                </div>
                <div>
                    <div class="about">
                        个人博客、百度经验
                    </div>
                    <div class="hang1" style="margin:0;">
                        <p>如果你具有网络写作的习惯，可以在自己的个人博客发布经验贴，讲解如何通过零花钱赚到现金。
                        喜欢发表评论的朋友也可以在热门博客文章下发表评论哦。</p>
                    </div>
                </div>
			

            
        

    

</body></html>