<include file ="Index:header"/>
<include file ="Index:navibar"/>
<include file ="Index:sidebar"/>
<!-- START 以上内容不需更改，保证该TPL页内的标签匹配即可 -->

{$osadmin_action_alert}
{$osadmin_quick_note}
    
<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">请填写版本分类</a></li>
    </ul>	
	
	<div id="myTabContent" class="tab-content">
		  <div class="tab-pane active in" id="home">
	
           <form id="tab" method="post" action="">
			    <label>应用名称</label>
				<input type="text" name="app_name" value="{$_POST.app_name}" class="input-xlarge" required="true" autofocus="true" >
				<label>版本号</label>
				<input type="text" name="version" value="{$_POST.version}" class="input-xlarge" required="true" autofocus="true" >
				<label>配置请求方式</label>

				<select name="status" id="" class="input-xlarge" required="true" autofocus="true">
					<option value="1"> 开启 </option>
					<option value="0"> 关闭 </option>
				</select>
				<div class="btn-toolbar">
					<button type="submit" class="btn btn-primary"><strong>提交</strong></button>
				</div>
			</form>
        </div>
    </div>
</div>
	
<!-- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file="Index:footer"/>