<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        

        <title>关于我们</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="msapplication-tap-highlight" content="no">

        
        <link rel="stylesheet" href="__PUBLIC__/mobile/css/style.css" type="text/css">
            </head>

    <body>



         <!--       <{include file="./tishikuang.tpl"}>-->
				<div class="devBox">
					<a href="{:U('About/more',array('member_id'=>I('get.member_id')))}"><img src="__PUBLIC__/mobile/images/a2.png" alt class="fl"></a>
					<h1 class="biaoti">关于我们</h1>

				</div>

                <div>
                    <div class="about">
                    关于零花钱
                    </div>
                    <div class="hang1" style="margin:0;">零花钱是一款可以赚钱的APP试玩平台。用户可以通过完成任务，来获取现金奖励。</div>
                </div>

                 <div>
                    <div class="about">
                    如何赚钱
                    </div>
                    <div class="hang1" style="margin:0;">
                    <p>1、用户通过完成指定的任务并按照要求完成，就会获取相应的现金奖励。</p>
                    <p>2、用户通过软件的邀请好友功能，将自己的分享链接分享到各个社交平台，来邀请好友，用户将获取好友任务奖励的额外分成。</p>
                    <p>3、还有更多功能，敬请期待。</p>
                    </div>
                </div>
                <!-- <div>
                    <div class="about">
                    关于钥匙
                    </div>
                    <div class="hang1" style="margin:0;">
                        <p>零花钱的钥匙在试玩时一定要保持在线哦，在完成任务，收取徒弟，兑换等环节，钥匙一定要在后台运行哦。如果钥匙掉线则需重新打开钥匙，做任务时不可将钥匙删除哦。</p>
                        <p>如果用户不小心将钥匙删除，点开safair在[更多]-[更新钥匙]中可以重新下载。</p>
                    </div>
                </div>
 -->
				
			
<!-- 
            <section>
           
            <ul>
            	<li>
            		<a href="">
            		
            		<p>新闻公告</p>
            		</a>
            	</li>
            	<li>
            		<a href="">
            		
            		<p>常见问题</p>

            		</a>
            	</li>
            	<li>
            		<a href="">
            		
            		<p>客服中心</p>
            		</a>
            	</li>
            	<li>
            		<a href="">
            		
            		<p>商务合作</p>
            		</a>
            	</li>
            	<li>
            		<a href="">
            		
            		<p>关于我们</p>
            		</a>
            	</li>
            </ul>








            </section> -->

            
        <br><br>

    

</body></html>