<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        

        <title>更多</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="msapplication-tap-highlight" content="no">

       
        <link rel="stylesheet" href="__PUBLIC__/mobile/css/style.css" type="text/css">
        
    </head>

    <body>



                <!--<{include file="./tishikuang.tpl"}>-->
				<div class="devBox">
					<a href="{:U('Index/index',array('member_id'=>I('get.member_id')))}"><img src="__PUBLIC__/mobile/images/a2.png" alt class="fl"></a>
					<h1 class="biaoti">更多</h1>

				</div>

				
			

            <section>
            <!-- <header>Application Examples</header> -->
            <ul>
            	<!--<li>
            		<a href="{:U('About/news',array('member_id'=>I('get.member_id')))}">
            		
            		<p>新闻公告</p>
            		</a>
            	</li>-->
            	<li>
            		<a href="{:U('About/problem',array('member_id'=>I('get.member_id')))}">
            		
            		<p>常见问题</p>

            		</a>
            	</li>
            	<li>
            		<a href="{:U('About/service',array('member_id'=>I('get.member_id')))}">
            		
            		<p>客服中心</p>
            		</a>
            	</li>
            	<li>
            		<a href="{:U('About/busniss',array('member_id'=>I('get.member_id')))}">
            		
            		<p>商务合作</p>
            		</a>
            	</li>
            	<li>
            		<a href="{:U('About/about',array('member_id'=>I('get.member_id')))}" >
            		
            		<p>关于我们</p>
            		</a>
            	</li>
            </ul>








            </section>

            
        

    

</body></html>