<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        

        <title>新闻公告</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="msapplication-tap-highlight" content="no">

        
        <link rel="stylesheet" href="__PUBLIC__/mobile/css/style.css" type="text/css">
     
    </head>

    <body>



            <!--    <{include file="./tishikuang.tpl"}>-->
				<div class="devBox">
					<a href="{:U('About/more',array('member_id'=>I('get.member_id')))}"><img src="__PUBLIC__/mobile/images/a2.png" alt class="fl"></a>
					<h1 class="biaoti">新闻公告</h1>

				</div>

				
			<ul>
                <li class="hang">
                    <b style="font-weight: bold;">月末提现需知：</b>
                    <p>因财务需求，每月最后一天12:00pm-24:00pm不接收提现订单，不做订单审核，敬请谅解！！</p>
                </li>   
                <li class="hang">
                    <b style="font-weight: bold;">拜师任务：</b>
                    <p>被邀请人在做完拜师任务之后，才可以获得徒弟任务分红，单笔0.5元。</p>
                </li>
                <li class="hang">
                    <b style="font-weight: bold;">问题找我：</b>
                    <p>关注零花钱微信公共号：零花钱2（微信号：ling-huaqianer）给我们留言，会有工作人员为你解答的哦。</p>
                </li>        
            </ul>


            
        

    

</body></html>