<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        

        <title>常见问题</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="msapplication-tap-highlight" content="no">

    
        <link rel="stylesheet" href="__PUBLIC__/mobile/css/style.css" type="text/css">
       
    </head>

    <body>



              <!--  <{include file="./tishikuang.tpl"}>-->
				<div class="devBox">
					<a href="{:U('About/more',array('member_id'=>I('get.member_id')))}"><img src="__PUBLIC__/mobile/images/a2.png" alt class="fl"></a>
					<h1 class="biaoti">常见问题</h1>

				</div>

				<ul>
                <li class="hang">
                    <b style="font-weight: bold;">一、提现</b>
                    <div class="hr"></div>
                    <p>1、需要1-2个工作日审核。</p>
                    <p>2、使用的支付宝手机账号需要与绑定的手机号一致</p>
                    <p>3、当月累计提现金额超过700元，会提示您需要提交身份信息进行实名认证，审核通过后当月才可继续提现。</p>
                 <!--   <p>4、积分相当于你的余额，100积分=1元。</p>  -->
                    <p>4、如果有其他问题，请及时联系我们处理解决。</p>
                    <p>官方服务热线：</p>
                    <p>010-53659071</p>
                </li>   
                <!-- <li class="hang">
                    <b style="font-weight: bold;">二、找回ID</b>
                    <div class="hr"></div>
                    <p>1、现在ID界面截图</p>
                    <p>2、原ID绑定的手机号码</p>
                    <p>联系客服提交以上信息，提交后会有工作人员通过电话的方式为你核实找回。</p>
                </li> -->
                <li class="hang">
                    <b style="font-weight: bold;">二、任务相关</b>
                    <div class="hr"></div>
                    <p>1、需要保持在线前台试玩3分钟。</p>
                    <p>2、新任务大多会集中在3-6点。</p>
                    <p>3、部分任务需要注册，请注意任务要求。</p>
                    <p>4、任务若未开始计时，可能是您下错了应用。</p>
                </li> 
                <li class="hang">
                    <b style="font-weight: bold;">三、问题找我</b>
                    <div class="hr"></div>
                    <p>关注点点微信公共号：零花钱2（微信号：ling-huaqianer）留言，会有工作人员为你解答的哦。</p>
                </li>            
            </ul>
			


            
        
<br><br>
    

</body></html>