<!DOCTYPE html>

<html lang="zh"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>零花钱</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/ling/css/index.css">
<script src="__PUBLIC__/mobile/ling/js/hm.js"></script>
<script type="text/javascript">
//         //平台、设备和操作系统
//         var system = {
//                 win : false,
//                 mac : false,
//                 xll : false,
//                 ipad : false
//         };
//         //检测平台
//         var p = navigator.platform;
//         system.win = p.indexOf("Win") == 0;
//         system.mac = p.indexOf("Mac") == 0;
//         system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
//         system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
//         //跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
//         if (system.win || system.mac || system.xll || system.ipad) {

//         } else {

//                 //window.location.href = "qikuaitang_share.html";
//                 //window.location.href = "http://www.7kuaitang.com/wcserv/wechat3/main_xiazai.jsp";
//                 window.location.href = "";
//         }

// var _hmt = _hmt || [];
// (function() {
//   var hm = document.createElement("script");
//   hm.src = "//";
//   var s = document.getElementsByTagName("script")[0]; 
//   s.parentNode.insertBefore(hm, s);
// })();
</script>
</head>
<body>

	<div class="nav">
	<!-- 	<ul>
			<li class="active"><a href="">首页</a></li>
			<li><a href="http://www.7kuaitang.com/faq.html">常见问题</a></li>
			<li><a href="http://www.7kuaitang.com/about.html">关于我们</a></li>
		</ul> -->
	</div>

	<div class="container">
		<div class="header">

			<div class="logo">
				<img src="__PUBLIC__/mobile/ling/images/logo.png">
			</div>
			<h1>
				<img src=__PUBLIC__/mobile/ling/images/slogan.png">
			</h1>
			<button id="viewmore">继续浏览</button>
		</div>

		<div class="phone-section">
			<div class="inner">
				<div class="left">
					<img class="phone" src="__PUBLIC__/mobile/ling/images/phone.png">
				</div>
				<div class="right">
					<div class="down-info">
						<div class="public-account">
							<!-- <p>
								<a class="download-android" href="http://7kuaitang.oss-cn-hangzhou.aliyuncs.com/qikuaitang/qikuaitang_doumob.apk"></a>
							</p> -->
						
								<a class="download-ios" href="https://itunes.apple.com/us/app/quan-min-yin-le/id1144881515?l=zh&ls=1&mt=8"></a>
							


						</div>
						<img class="qrimg" src="__PUBLIC__/mobile/ling/images/download.png">
					</div>
					<div class="social-info">
						<div class="public-account">
							<!-- <p>
								<img src="<{$smarty.const.ADMIN_URL}>/assets/mobile/ling/images/sina-weibo.png"> <span style="width: 170px;">官方微博：@7块糖APP</span> <a class="follow" href="http://weibo.com/7kuaitang" target="_blank">马上关注</a>
							</p> -->
							<p>
								<img src="__PUBLIC__/mobile/ling/images/tencent-wechat.png"> <span >微信公众号：零花钱2</span> <a class="follow" href="" onmouseover="showQR(event);" onmouseout="hideQR();">马上关注</a>
							</p>
						</div>


					</div>
				</div>
			</div>
		</div>
		<div class="popwindow">
			<img class="qrimg1" src="__PUBLIC__/mobile/ling/images/wechatQR.jpg">
		</div>
		<div class="section do-tasks">
			<div class="banner">
				<img src="__PUBLIC__/mobile/ling/images/banner3.png">
			</div>
			<!-- <div class="align-wrap align-left">
				<b>完成任务，赚取现金</b>
				<p>
					零花钱是一款超级好玩的任务返现软件<br>动动手指，收获颇丰
				</p>
			</div> -->
		</div>

		<div class="section do-tasks reverse">
			<!-- <div class="align-wrap align-left">
				<b>邀请好友返现机制，收获激增</b>
				<p>此机制独步武林，天下无双，为您带来无与伦比的收益</p>
			</div> -->
			<div class="banner">
				<img src="__PUBLIC__/mobile/ling/images/banner4.png">
			</div>
		</div>

		<div class="section little-banners">
			<div class="item">
				<img src="__PUBLIC__/mobile/ling/images/littlebanner5.png"><!--  <b>任务丰富，收益最高</b>
				<p>
					依托自身平台优势<br>轻轻松松赚取零花钱
				</p> -->
			</div>
			<div class="item">
				<img src="__PUBLIC__/mobile/ling/images/littlebanner6.png"> <!-- <b>分享也能赚钱</b>
				<p>
					分享到社交平台<br>朋友加入你也可以获得奖励
				</p> -->
			</div>
			<div class="item">
				<img src="__PUBLIC__/mobile/ling/images/littlebanner7.png"> <!-- <b>20 元即可提现</b>
				<p>
					账户余额满20元<br>就可提现到支付宝或微信钱包
				</p> -->
			</div>
			<div class="item">
				<img src="__PUBLIC__/mobile/ling/images/littlebanner8.png"> <!-- <b>智能省流量</b>
				<p>
					在 WIFI 下帮您加载更多精美图片<br>时刻帮您省流量
				</p> -->
			</div>
		</div>
	</div>


	<div class="footer">
		<div class="inner">
			<div class="section sec-brand">
				<p>
					<img src="__PUBLIC__/mobile/ling/images/logo-48.png">
				</p>
				<p style="font-size:18px;">点点时代（北京）科技有限公司 &nbsp;&nbsp; 京ICP备16026793号-1</p>
			</div>

			<div class="section sec-home">
				<div class="title">首页</div>
				<ul>
					<li><a href="" id="godown">下载 零花钱</a></li>
				</ul>
			</div>
			<!-- <div class="section sec-faq">
				<div class="title">常见问题</div>
				<ul>
					<li><a href="http://www.7kuaitang.com/">常见问题</a></li>
				</ul>
			</div> -->
			<div class="section sec-about">
				<div class="title">关注我们</div>
				<ul>
					<li><a href="" onmouseover="showQR(event);" onmouseout="hideQR();"><img src="<{$smarty.const.ADMIN_URL}>/assets/mobile/ling/images/wechat.png" onmouseout="this.src=&#39;../assets/mobile/ling/images/wechat.png&#39;" onmouseover="this.src=&#39;../assets/mobile/ling/images/wechat-hover.png&#39;"></a></li>
					<!-- <li><a href="http://weibo.com/7kuaitang" target="_blank"><img src="<{$smarty.const.ADMIN_URL}>/assets/mobile/ling/images/weibo.png" onmouseout="this.src=&#39;./images/weibo.png&#39;" onmouseover="this.src=&#39;./images/weibo-hover.png&#39;"></a></li>
					<li><a href="http://tieba.baidu.com/f?kw=7%E5%9D%97%E7%B3%96&amp;ie=utf-8" target="_blank"><img src="<{$smarty.const.ADMIN_URL}>/assets/mobile/ling/images/tieba.png" onmouseout="this.src=&#39;./images/tieba.png&#39;" onmouseover="this.src=&#39;./images/tieba-hover.png&#39;"></a></li> -->
				</ul>
			</div>

		</div>
	</div>
	<script src="__PUBLIC__/mobile/ling/js/jquery.min.js"></script>
	<script src="__PUBLIC__/mobile/ling/js/main.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$('#viewmore').click(function() {
				$('html,body').animate({
					scrollTop : $('.phone-section').offset().top + 156
				}, 800);
			});
			$('#godown').click(function() {
				$('html,body').animate({
					scrollTop : $('.phone-section').offset().top + 156
				}, 800);
			});
		});

		function showQR(e) {
			var pointX = e.pageX;
			var pointY = e.pageY;
			$('.popwindow').show();
			$('.popwindow').css("top", pointY - 140);
			$('.popwindow').css("left", pointX + 20);
		}
	

		function hideQR() {
			$('.popwindow').hide();
		}
	</script>


</body></html>