<include file ="Index:header"/>
<include file ="Index:navibar"/>
<include file ="Index:sidebar"/>
<!-- START 以上内容不需更改，保证该TPL页内的标签匹配即可 -->
<!--<{$osadmin_action_alert}>
<{$osadmin_quick_note}>
    -->
{$osadmin_action_alert}
<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">修改商务产品资料</a></li>
    </ul>

	<div id="myTabContent" class="tab-content">
		  <div class="tab-pane active in" id="home">

           <form id="tab" method="post" action="">
           		<label>商务产品ID</label>
           		<input type="text" name="id" disabled="disabled" value="{$res.id}" class="input-xlarge" required="true" autofocus="true" >
           		<label>商务对接人</label>
           		<input type="text" name="owner" value="{$res.owner}" class="input-xlarge" required="true" autofocus="true" >
				<label>产品类型</label>
				<input type="text" name="product_type" value="{$res.product_type}" class="input-xlarge" required="true" autofocus="true" >
			    <label>产品名称</label>
			    <input type="text" name="product_name" value="{$res.product_name}" class="input-xlarge" required="true" autofocus="true" >
				<label>激活方式</label>
				<input type="text" name="method" value="{$res.method}" class="input-xlarge" required="true" autofocus="true" >
				<label>接入单价</label>
				<input type="text" name="input_price" value="{$res.input_price}" class="input-xlarge" required="true" autofocus="true" >
				<label>建议投放单价</label>
				<input type="text" name="output_price" value="{$res.output_price}" class="input-xlarge" required="true" autofocus="true" >
				<label>数据反馈方式</label>
				<input type="text" name="callback_method" value="{$res.callback_method}" class="input-xlarge" required="true" autofocus="true" >
				<div class="btn-toolbar">
					<button type="submit" class="btn btn-primary"><strong>提交</strong></button>
				</div>
			</form>
        </div>
    </div>
</div>	
<!---操作的确认层，相当于javascript:confirm函数--->
<!--<{$osadmin_action_confirm}>-->

<!-- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file="Index:footer"/>