<include file ="Index:header"/>
<include file ="Index:navibar"/>
<include file ="Index:sidebar"/>
<!-- TPLSTART 以上内容不需更改，保证该TPL页内的标签匹配即可 -->

<div class="btn-toolbar" style="margin-bottom:2px;">
    <a href="{:U('productResAdd')}" class="btn btn-primary"><i class="icon-plus"></i> 添加商务产品</a>
</div>

<div class="block">
	<a href="#page-stats" class="block-heading" data-toggle="collapse">商务产品管理</a>
	<div id="page-stats" class="block-body collapse in">
	<table class="table table-striped">
			<thead>
			<tr>
				<th>商务对接人</th>
				<th>产品类型</th>
			    <th>产品名称</th>
				<th>激活方式</th>
				<th>接入单价</th>
				<th>建议投放单价</th>
				<th>数据反馈方式</th>
			    <th>操作</th>
				
			</tr>
			</thead>
			<tbody>							  
			<foreach name="ress" item="res">
				 
				<tr>
				 
				<td>{$res.owner}</td>
				
				<td>{$res.product_type}</td>
				
				<td>{$res.product_name}</td>
				
				<td>{$res.method}</td>
				
				<td>{$res.input_price}</td>
				 
				<td>{$res.output_price}</td>
				
				<td>{$res.callback_method}</td>
				<td>
					<a href="{:U('productResModify',array('id'=>$res['id']))}" title= "修改" ><i class="icon-pencil"></i></a>
					
					&nbsp;
					<a data-toggle="modal" href="{:U('productRes',array('id'=>$res['id'],'method'=>del))}" title= "删除" ><i class="icon-remove"></i></a>
				</td>
				
				</tr>
			</foreach>
		  </tbody>
		</table>
		<!--- START 分页模板 --->
		<div style="margin-bottom: 20px">
			<table id="page-table-fenye" cellspacing="0" >
				<tr>
					<td align="center" nowrap="true">
						{$page}
					</td>
				</tr>
			</table>
		</div>

			    每页25项
	</div>
</div>
<!-- TPLEND 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file="Index:footer"/>