<include file ="Index:header"/>
<include file ="Index:navibar"/>
<include file ="Index:sidebar"/>
<!-- START 以上内容不需更改，保证该TPL页内的标签匹配即可 -->
<script  type="text/javascript" src="__PUBLIC__/lib/jquery-1.8.1.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/poi.css" />
<link rel="stylesheet" href="__PUBLIC__/lib/kindeditor/themes/default/default.css" />
<script src="__PUBLIC__/lib/kindeditor/kindeditor.js"></script>
<script src="__PUBLIC__/lib/kindeditor/plugins/image/image.js"></script>
<script src="__PUBLIC__/lib/kindeditor/lang/zh_CN.js"></script>
<script src="__PUBLIC__/js/k.js" type="text/javascript"></script>
<script>var ROOT="__ROOT__";</script>
{$osadmin_action_alert}

<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">修改应用资料</a></li>
    </ul>	
	
	<div id="myTabContent" class="tab-content">
		  <div class="tab-pane active in" id="home">

           <form id="tab" method="post" action=""  name="upform" enctype="multipart/form-data" onsubmit="return check()">
           		<label>应用id</label>
				<input type="text" name="app_id" value="{$app.app_id}" disabled="disabled" class="input-xlarge" required="true" autofocus="true" >
				<label>应用名称</label>
				<input type="text" name="app_name" value="{$app.app_name}" class="input-xlarge" required="true" autofocus="true" >
               <label>Logo</label>
               <div >
                   <img   src="__PUBLIC__{$app.img}" style="height:60px;width:auto;" class="poi url-image icon-url id__9" />
                   <input   type="hidden" name="img" value="__PUBLIC__{$app.img}" class="icon-url id__9" required="required"/>
                   <div class="xz k-browse-image poi" data-id="9">选择</div>
                   <div class="sc k-upload-image poi" data-id="9">上传</div>
               </div>
               <label style="clear: both">广告商名称</label>
                <select name="provider_id">
                    <foreach name="providers" item="provider" key="provider_id">
                    <option value="{$provider_id}"
                        <if condition="$app['provider_id'] eq $provider_id">
                            selected="selected"
                        </if>
                    >{$provider}</option>
                    </foreach>
                </select>
               <label>广告主广告id</label>
               <input type="text" name="adsid" value="{$app.adsid}" class="input-xlarge" required="true" autofocus="true" >
               <div >
                   <label style="clear: both">应用id</label>
                   <input type="text" id="bundle" name="appid" value="{$app.adsid}" class="input-xlarge" required="true" autofocus="true" >
                   <input type="button" value="获取" onclick="getbundle(this)">
                   <input type="text" id="bundleid" name="bundleid" value="{$app.bundleid}">
               </div>
               <label>广告分类</label>
               <select name="adtype_id" id="DropDownAdtypeId">
                   <foreach name="adtypes" item="adtype" key="adtype_id">
                       <option value="{$adtype_id}"
                       <if condition="$app['adtype_id'] eq $adtype_id">
                           selected="selected"
                       </if>
                       >{$adtype}</option>
                   </foreach>
               </select>
				<label>渠道名称</label>
               <input name="chan_id"  id="district_cn" type="text" value="{$app.chan_name}"  readonly="true" class="sltinput" />
               <input name="chan_id" id="citycategory" type="hidden" value="{$app.chan_id}" />

               <div style="display:none" id="sel_district">
                   <!--<div class="OpenFloatBoxBg"></div>-->
                   <div class="OpenFloatBox">
                       <div class="title">
                           <h4>请选择渠道名称</h4>
                           <div class="DialogClose" title="关闭"></div>
                       </div>
                       <div class="content" style="margin-left:0px;min-height: 450px;">
                           <div class="txt">
                             <foreach name="channels" item="channel" >
                               <div class="item" id="593">
                                   <if condition="in_array($channel['channel_id'],$chanids)">

                                       <label title="<{$channel.channel_id}>" class="titem"><input name="channel_name" type="checkbox" value="{$channel.channel_id}" title="{$channel.channel_name}" class="b" checked="checked"/>{$channel.channel_name}</label>
                                       <else/>
                                       <label title="<{$channel.channel_id}>" class="titem"><input name="channel_name" type="checkbox" value="{$channel.channel_id}" title="{$channel.channel_name}" class="b"/>{$channel.channel_name}</label>
                                   </if>
                        <!--           <label title="{$channel.channel_id}" class="titem"><input name="channel_name" type="checkbox" value="{$channel.channel_id}" title="{$channel.channel_name}" class="b"/>{$channel.channel_name}</label>
                       -->
                               <div class="sitem"></div>
                               </div>
                             </foreach>

                               <div class="clear"></div>
                           </div>
                           <div class="txt">
                               <div class="selecteditem"></div>
                           </div>
                           <div class="txt">
                               <div align="center"><input type="button"  class="but80 Set" value="确定" style="width: 81px"/></div>
                           </div>
                       </div>
                   </div>
               </div>
               <br/><br/>
               <label>配置比例</label>
               <table width="50%">
                   <tr>
                       <td>渠道名称</td>
                       <td>回调比例(请直接填写数字，如50代表50%等)</td>
                   </tr>
                   <tbody id="bili">
                   <foreach name="chanName_cutoff" key="chanName"  item="cutoff">
                   <tr>
                       <td>{$chanName} </td>
                       <td><input type="text" name="cutoff[]" value="{$cutoff}" /></td>
                   </tr>
                   </foreach>
                   </tbody>
               </table>
               <br/>
                <!--<select name="chan_id">
                    <foreach name="channels" item="channel" key="chan_id">
                    <option value="{$chan_id}"
                        <if condition="$app['chan_id'] eq $chan_id">
                            selected="selected"
                        </if>
                    >{$channel}</option>
                    </foreach>
                </select>-->

               <label>是否排重</label>
               <select name="is_repeat" id="" class="input-xlarge" required="true" autofocus="true">
                   <if condition="$app['is_repeat'] eq '否'">
                   <option value="否" selected="selected">  否</option>
                   <option value="是"> 是 </option>
                   <else/>
                   <option value="否" > 否 </option>
                   <option value="是" selected="selected"> 是 </option>
                   </if>
               </select>

               <label>下载地址</label>
				<input type="text" name="appstore_url" value="{$app.appstore_url}" class="input-xlarge" required="true" autofocus="true" >
               <label>Url Scheme</label>
               <input type="text" name="url_scheme" value="{$app.url_scheme}" class="input-xlarge" required="true" autofocus="true" >
				<label>备注</label>
        <textarea name="remark" class="input-xlarge"  autofocus="true" rows="5" cols="10">{$app.remark}</textarea>


                <input type="hidden" name="httpref" value="{$_SERVER['HTTP_REFERER']}">

               <div class="btn-toolbar">
					<button type="submit" class="btn btn-primary"><strong>提交</strong></button>
				</div>
			</form>
        </div>
    </div>
</div>	
<!---操作的确认层，相当于javascript:confirm函数-->
{$osadmin_action_confirm}
<script type="text/javascript">
    $(document).ready(function(){
        var QS_city=new Array()
        OpenCategoryLayer(
                "#district_cn",
                "#sel_district",
                "#district_cn",
                "#citycategory",
                QS_city,
                14);
    });
</script>
<script type="text/javascript">
    function check(){
        var temp;
        if ($('#citycategory').val() == null || $('#citycategory').val()== "") {
            alert('请选择渠道');
            return false;
        };
        //判断回调比例配置是否符合规范
        $('#bili input').each(function(){
            if($(this).val() == null || $(this).val()==""){
                alert("请配置回调比例");
                temp = 1;
                return false;
            }

            if (!$.isNumeric($(this).val())) {
                temp = 1;
                alert("回调比例应为数字");
                return false;
            };
            if ($(this).val() > 100 || $(this).val() < 0) {
                temp = 1;
                alert("回调比例是0到100");
                return false;
            };
        });

        if (temp) {
            return false;
        };
        return true;
    }

</script>

<script>
    function getbundle(){
        var appid = document.getElementById('bundle').value;
        var url = "{:U('Backend/App/getBundle')}";
        $.post(url, {appid: appid},function(e){
            if (e) {
                document.getElementById('bundleid').value=e.replace(/\"/g, "");
            } else {
                alert('获取错误');
            }

        });
    }
</script>
<!-- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 -->
<include file="Index:footer"/>